# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.eggs
*.manifest
*.spec
*.log
*.pot
*.mo
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
*.sqlite
*.db
*.db-journal
*.sql
*.sqlite3
*.ipynb_checkpoints
profile_default/
ipython_config.py
__pypackages__/
*.pylint.d
celerybeat-schedule
celerybeat.pid
*.sage.py
*.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/